.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.title {
    margin: 100px;
    text-align: center;
    color: #202124;
    font-size: 60px;
}

.update {
    color: #1967D2;
    background-color: #E8F0FE;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 100px;
}

.box1,
.box2 {
  width: 80%;
  margin: 20px;
  border-radius: 40px;
}

.box1 {
  background-color: #e8f0fe;
  /* margin-top: 100px; */
}

.box2 {
  background-color: #fef7e0;
  /* margin-top: 100px; */
}

.box1 h4,
.box2 h4 {
  color: #6c6d70;
  font-weight: 300;
  margin: 60px 60px 30px;
}


.box1 h1,
.box2 h1 {
  margin: 0px 60px;
  font-size: 40px;
}

.box1 p,
.box2 p {
  margin: 20px 60px;
  color: #6c6d70;
}

.box1 a,
.box2 a {
  margin: 20px 60px;
  text-decoration: none;
}

.box1 img {
  border-bottom-left-radius: 40px;
}

.box2 {
  position: relative;
  overflow: hidden;
}

.box2 img {
  position: absolute;
  bottom: 20px;
  left: -100px;
  width: 200px;
  margin: 60px;
}
